{% extends "base_page.html" %}

{% block page-title %}
    <span class="blue-text text-darken-2">Изучение иностранных слов</span>
{% endblock %}

{% block page-lead %}
Планируй свои занятия, изучай новые слова!
{% endblock %}

{% block content %}
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
            <h2 class="center blue-text text-darken-2">Занятия</h2>
            <h5 class="center">Информация о пройденных уроках</h5>
            <div class="col s11 push-s1">
              <a href="/lesson-list" id="lesson-list" class="btn-large waves-effect waves-light blue">К списку уроков</a>
              <a href="/lesson_add" id="lesson_add" class="btn-large waves-effect waves-light blue">Добавить урок</a>
            </div>
        </div>
        <div class="col s12 m6">
            <h2 class="center blue-text text-darken-2">База слов</h2>
            <h5 class="center">Список изученных слов</h5>
              <div class="col s11 push-s1">
                  <a href="/terms-list" id="terms-list" class="btn-large waves-effect waves-light blue">К списку слов</a>
                  <a href="/add-term" id="add_term" class="btn-large waves-effect waves-light blue">Добавить слово</a>
              </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
{% endblock %}
