{% extends "base_page.html" %}

{% block page-title %}
<span class="blue-text text-darken-2">Добавить занятие</span>
{% endblock %}

{% block page-lead %}
{% endblock %}


{% block content %}
<div class="container" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h4>Внесите занятие</h4>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_term">Дата в формате дд.мм.гггг </label>
                <input type="text" class="form-control input-lg" name="new_term" id="new_term">
            </div>
            <div class="col-md-8">
                <label for="new_definition">Тема</label>
                <input type="text" class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3"></input>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" formaction="/send-lesson">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
